{% extends "base.html" %}
{% load static%}

{% block css_files%}
    <link rel="stylesheet" href="{% static 'stok/css/style.css' %}">
{% endblock %}
{% block title %} Cihazı Sil {% endblock%}
{% block content %}
    <div class="container">
        <div class="row"></div>
        <br/>
            <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="alert alert-warning">
                                Bu Cihazı silmek istediğine emin misin ? 
                                
                            </div>
                            <img src="{{ stok.image.url }}" alt="" class="img-fluid" 
                            style="float:left; max-width:30%;
                            margin-right:20px; margin-bottom:20px;">
                            <h5> Ürün adı: {{ stok.brand|title }}</h5>
                            <h5>Ürün açıklaması: {{ stok.description|safe }}</h5>
                            <h5>Ürün seri numarası: {{ stok.serialnum }}</h5>
                        </div>
                        <input type="submit" value="Cihazı Sil" class="btn btn-primary"> 
                    </form>
                </div>
            </div>
    </div>
{% endblock %}