
{% extends "base.html" %}

{% load static%}

{% load crispy_forms_tags %}

{% block css_files%}
<link rel="stylesheet" href="{% static 'stok/css/style.css' %}">
{% endblock %}

{% block title %} Cihaz Ekle {% endblock%}


{% block content %}


<div class="container mt-3">
   <div>
      <h1>Cihaz Ekle</h1> 
         <hr>
         <form action="{% url 'cihaz_ekle' %}" method="POST",  enctype="multipart/form-data">
            {% csrf_token %}
               {{ form.as_p }}



            {% comment %} <input type="submit" value="Cihaz Ekle" class="btn btn-primary">  {% endcomment %}
            <button type="submit" class="btn btn-dark" >ekle
    </button>
            
         </form> 

   
      </div>         
   </div>


{% endblock%}






{% comment %} html kodu yazılacak ve icinde
<a class="liste kodları"  
href="{% url 'cihaz_ekle' buraya slug bilgisi gelcek %}"></a>  {% endcomment %}