{% extends "base.html" %}

{% block title %} Stoks {% endblock%}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html  '%}
        </div>
        <div class="col-9">
            <h1>All Stoks</h1>
            <hr>
            {% if stoks|length > 0 %}
                {% for stok in stoks %}
                    {% if stok.is_active %}
                        {% include 'stok/partials/_stok.html'  %}
                    {% endif %}
                {% endfor %}
                {% else %}
            <div class=" alert alert-warning"> No Stoks</div>
            {% endif %}
        </div>


{% endblock %}
