{% extends "base.html" %}
{% load static%}
{% block title %} Cihaz Detayları {% endblock%}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h1 id="detail-title" class="card-title h3 mb-3">{{ stok.brand|title}} </h1>
                                    {% if stok.image %}
                                        <img src="{{ stok.image.url }}" alt="" 
                                        class="img-fluid"  style="float:left; max-width:25%;
                                            margin-right:20px; margin-bottom:20px;" >
                                    {% endif %}
                                
                                <p class="card-text">Seri Numarası:{{ stok.serialnum|safe}}</p><hr>
                                <p class="card-text">Geliş Tarihi:{{ stok.arrival_date|safe}}</p><hr>
                                <p class="card-text">Çıkış Tarihi:{{ stok.exit_date|safe}}</p><hr>
                                <p class="card-text">Personel:{{ stok.employee|safe}}</p><hr>
                                <p class="card-text">Çalışan:{{ stok.worker|safe}}</p><hr>
                                <p class="card-text">Açıklama:{{ stok.description|safe}}</p><hr>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <a href="{% url 'cihaz_sil' stok.slug %}" class="btn btn-primary ">Cihazı sil</a> 
        <a href="{% url 'cihaz_guncelle' stok.slug %}" class="btn btn-primary ">Cihazı güncelle</a> 
    </div>
{% endblock %}

