{% extends "base.html" %}
{% load static%}
{% block title %} Cihaz Detayları {% endblock%}


{% block content %}


    <div class="container mt-3">
        <div class="row">

            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h1 class="card-title h3 mb-3">
                                    {{ stok.marka_model|title }} 
                                </h1>
                                    <img src="{{ stok.image.url}}" alt="" 
                                    class="img-fluid"  style="float:left; max-width:30%;
                                        margin-right:20px; margin-bottom:20px;" >
                                <p class="card-text">{{ stok.description|safe}}</p>
                                <br>
                                <p class="card-text">{{ stok.}} </p>
                              
                            </div>
                        </div>
                
                    </div>
                </div>
                <hr>

            </div>
        </div>
    
{% endblock %}